<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jupiter</title>
</head>
<body>
    <a href="/sistema-solar">Home</a>
    <h1>jupiter</h1>
    <p>
       El gigante del sistema. Su Gran Mancha Roja es una tormenta más grande que la Tierra.
    </p>

</body>
</html>