<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>marte</title>
</head>
<body>
    <a href="/sistema-solar">Home</a>
    <h1>marte</h1>
    <p>
       El "planeta rojo", con desiertos de óxido de hierro y el volcán más grande del sistema (Monte Olimpo).
    </p>

</body>
</html>