<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neptuno</title>
</head>
<body>
    <a href="/sistema-solar">Home</a>
    <h1>neptuno</h1>
    <p>
       El planeta más alejado, conocido por sus vientos supersónicos.
    </p>

</body>
</html>