<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>planetas</title>
</head>
<body>
    <h1>planetas</h1>
    <nav>
        <a href="/mercurio">Mercurio</a>
        <a href="/venus">Venus</a>
        <a href="tierra">Tierra</a>
        <a href="marte">Marte</a>
        <a href="jupiter">Jupiter</a>
        <a href="saturno">Saturno</a>
        <a href="urano">Urano</a>
        <a href="neptuno">Neptuno</a>
    </nav>
    <p>
        <strong>Formación del planetas</strong>
        <br>
        El sistema solar se formó hace aproximadamente 4,600 millones de años a 
        partir del colapso de una nube molecular de gas y polvo. Este proceso dio 
        lugar a un disco protoplanetario donde se formaron los planetas y otros 
        cuerpos celestes.
        <br>
        <strong>Ubicación</strong> 
        <br>
        El sistema solar se encuentra en el brazo 
        de Orión de la galaxia espiral Vía Láctea, a unos 27,000 años luz del 
        centro galáctico.
    </p>
</body>
</html>