<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>saturno</title>
</head>
<body>
    <a href="/sistema-solar">Home</a>
    <h1>saturno</h1>
    <p>
      Famoso por su espectacular sistema de anillos compuestos de hielo y polvo.
    </p>

</body>
</html>