<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tierra</title>
</head>
<body>
    <a href="/sistema-solar">Home</a>
    <h1>tierra</h1>
    <p>
        Tierra nuestra atmósfera tiene una
equilibrada capa formada por distintos
gases: oxígeno, nitrógeno y dióxido de
carbono, que la protege de los
meteoritos y ayuda a conservar una
temperatura adecuada para los seres
vivos; además, mantiene el agua en sus
tres estados.

</body>
</html>