<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>urano</title>
</head>
<body>
    <a href="/sistema-solar">Home</a>
    <h1>urano</h1>
    <p>
        Un gigante de hielo que orbita de lado (su eje está muy inclinado).
    </p>

</body>
</html>