<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>venus</title>
</head>
<body>
    <a href="/sistema-solar">Home</a>
    <h1>venus</h1>
    <p>
        La atmósfera en Venus
es muy densa y contiene
nubes de ácido sulfúrico,
que hace que su
temperatura sea muy alta.

    </p>

</body>
</html>